<section data-ng-controller="ClassroomsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="classroom.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == classroom.user._id">
		<a class="btn btn-primary" href="/#!/classrooms/{{classroom._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="classroom.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="classroom.user.displayName"></span>
		</em>
	</small>

	<table class="table table-bordered classroom classroom-admin-view">
    <tbody>
      <tr data-ng-repeat="row in classroom.map">
        <td data-ng-repeat="cell in row" width="10%">
        	<div class="cell-item item-{{ cellItem }}" ng-repeat="cellItem in cell"></div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
