<section data-ng-controller="StudentsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Edit Student</h1>
	</div>
	<div class="col-md-12">
		<form class="form-horizontal" data-ng-submit="update()" novalidate>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="first_name">Name</label>
					<div class="controls">
						<input type="text" data-ng-model="student.name.first" id="first_name" class="form-control" placeholder="First" required>
						<input type="text" data-ng-model="student.name.last" id="last_name" class="form-control" placeholder="Last" required>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="course">Course</label>
					<div class="controls">
						<div class="radio" data-ng-repeat="c in courses">
							<label data-ng-for="c._id">
								<input type="radio" 
									data-ng-value="c._id"
									name="course"
									data-ng-model="student.course"
									id="c._id" />
									{{ c.name }}
							</label>
						</div>

						<div class="radio">
							<label for="no-course-radio">
								<input type="radio" 
									data-ng-value="null"
									name="course"
									id="no-course-radio"
									data-ng-model="student.course" />
									None
							</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="attributes">Description</label>
					<div class="controls">
						<input type="text" data-ng-model="student.description" class="form-control" placeholder="Description" />
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="attributes">Attributes</label>
					<div class="controls row">
						<div class="form-attribute col-xs-4" data-ng-repeat="(name, attr) in attrList">
							<label for="attr-{{ name }}" data-ng-bind="(name | attributeName) + ': ' + student.attributes[name]"></label>
							<input id="attr-{{ name }}" type="range" min="{{ attr.min }}" max="{{ attr.max }}" data-ng-model="student.attributes[name]" step="0.1" />
						</div>
					</div>
				</div>

				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>
