<section data-ng-controller="StudentsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="student.name.first + ' ' + student.name.last"></h1>
	</div>
	<div class="pull-right" data-ng-show="authentication.user._id == student.user._id">
		<a class="btn btn-primary" href="/#!/students/{{student._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="student.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="student.user.displayName"></span>
		</em>
	</small>
  <h2>Description:</h2>
  <p class="lead" data-ng-bind="student.description"></p>

  <hr />

  <h2>Attributes:</h2>
  <div class="row">
    <dl data-ng-repeat="(name, value) in student.attributes" class="dl-horizontal col-xs-4">
      <dt data-ng-bind="name | attributeName"></dt>
      <dd data-ng-bind="value"></dd>
    </dl>
  </div>
</section>
